.abs-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 200px;
    height: 200px;
  }
}

.loader {
  text-align: center;
}

.div-container {
  svg {
    width: 50px;
    height: 100px;
  }
}
